package templates

templ header(title string) {
	<head>
		<title>{ title }</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
}

templ footer() {
	<footer class="bg-primary-600 p-4"></footer>
}

templ nav() {
}

templ Layout(contents templ.Component, title string) {
	@header(title)
	<body class="flex flex-col h-full">
		@nav()
		<main class="flex-1 container ">
			@contents
		</main>
		@footer()
	</body>
}
